.search-result-wrap {
  display: flex;
  flex-direction: column;
  margin: auto 0px;
  justify-content: center;
  align-items: center;

  .searchTermInfo {
    width: 100%;
    // margin-top: 8px;
    margin-bottom: 32px;
    
    color: #333;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 16.7px;
    @media(max-width: 1020px){
      margin-bottom: 24px;
      font-size: 14px;
      // font-size: 21px;
    }
  }

  .searchResults {
    padding: 0 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
    
    @media (max-width: 840px) {
      padding: 0 16px;
    }
    @media (max-width: 1020px) {
      flex-direction: column;
      // padding: 0 16px;

      .prof-wrap {
        margin-top: 24px;
        padding-left: 0 !important;
      }
    }
    
    .filter-wrap.visible {
      height: 458px;
      opacity: 1;
      padding: 0 20px 20px 20px;
      
      transition: height 0.2s ease-out, opacity 0.1s ease-out;

      display: block;
      z-index: 9;
      overflow-y: visible;
      
    }

    .filter-wrap {
      height: 302px;      
      margin-bottom: 32px!important;
      transition: height 0.25s ease-out, opacity 0s ease-out;
    
      width: 416px;
      height: 100%;

      @media (max-width: 1020px) {
        height: 402px !important; 
        opacity: 0;
        display: none;
        border-radius: 0 0 18px 18px;

        width: 100%;
        z-index: 10;
        box-shadow: none;
        overflow-y: scroll;
        margin-bottom: 0px !important;
        background-color: #f5f5f5;

        padding: 0 !important;
        


        .inner-wrap{
          box-shadow: none !important;
          background-color: transparent!important;
          margin: 0 !important;
          padding-bottom: 0 !important;

        }
        .top{
          
        }
        .bot{
          padding-top: 0 !important;
        }
      }

      .top{
        margin-bottom: 32px;
        height: 120px !important;

        .filter-dropdown {
          position: relative;
          width: 370px;
          height: 39px;
          padding: 8px;
          margin-bottom: 18px;
          margin-top: 12px;
          border-radius: 8px;
          border: 1.5px solid rgba(195, 195, 195, 0.425);
          background-color: white;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
        
          .dropdown-label {
            flex-grow: 1;
            font-size: 14px;
          }
        
          .arrow-icon {
            width: 20px;
            height: 20px;
            transition: transform 0.3s ease;
            filter: brightness(0) saturate(100%) invert(11%) sepia(14%) saturate(1006%) hue-rotate(224deg) brightness(97%) contrast(90%);
            
            &.rotated {
              transform: rotate(180deg);
            }
          }
          
          .sort-options {
            &.active{
              transition: all 0.2s ease-in-out;
              opacity: 1;
              top: 100%;
              z-index: 2;
              .sort-option {
                padding: 10px 8px;
              }
            }
            z-index: -2;
            opacity: 0;
            top: -60px;

            left: 0;
            width: 100%;
            position: absolute;
            border: 1px solid #ccc;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
            .sort-option {
              // padding: 10px 8px;
              cursor: pointer;
              font-size: 14px;
              transition: background-color 0.1s ease-out;
        
              &:hover {
                background-color: rgba(195, 195, 195, 0.425);
              }
            }
          }
        }
      }
      .bot{
        // /
        height: 302px !important;
        @media (max-width: 1020px) {
          height: 282px !important;
        }

      }
      .inner-wrap{
        border-radius: 18px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        background: #f5f5f5;
        // 
        height: 100%;

      .section-title{
        font-weight: bold;
        font-size: 1.6rem;    

        background-color: black;
        color:white;
        height: 32px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
      }

      .filter-title {
        font-weight: bold;
        font-size: 1.4rem;
        margin-bottom: 6px;

        &:not(:first-child) {
          margin-top: 12px;
        }
      }

      .filter-num-rev {
        overflow-x: scroll;
        height: 48px;
        background-color: white;
        width: 100%;
        border-radius: 8px;
        border: 1.5px solid rgba(195, 195, 195, 0.425);
        display: flex;
        flex-direction: row;

        .review-filter-button {
          border: none;
          cursor: pointer;
          font-size: 14px;
          background-color: white;
          height: 100%; width: 100%;
          transition: background-color 0.15s ease-out;

          &:not(:first-child) {
            border-left: 1.5px solid rgba(195, 195, 195, 0.425);
          }

          &:last-child {
            border-radius: 0px 8px 8px 0;
          }

          &:first-child {
            border-radius: 8px 0px 0px 8px;
          }

          &:hover {
            background-color: #d3d3d3;
          }

          &.active {
            background-color: #3eae86;
            color: white;
          }
        }
      }

      .filter-dropdown {
        top: 0;
        width: 370px !important;
        height: 39px;
        position: relative;
        padding: 8px;
        margin-bottom: 18px;
        border-radius: 8px;
        border: 1.5px solid rgba(195, 195, 195, 0.425);
        width: 100%;
        background-color: white;
        cursor: pointer;
        justify-content: center;

        @media (max-width: 1020px) {
          width: 100% !important;
        }

        &:hover {
          background-color: rgba(195, 195, 195, 0.425);
        }
        .sort-select {
          width: 100%;
          padding: 8px;
          border-radius: 8px;
          border: 1.5px solid rgba(195, 195, 195, 0.425);
          background-color: white;
          cursor: pointer;
        }

        .filter-top {
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;

          .dropdown-label {
            font-weight: 400;
            font-size: 14px;
          }
        }

        .filter-overlay {
          background-color: transparent;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          cursor: pointer;
        }

        .department-dropdown.active {
          top: 100%;
          opacity: 1;
          transition: all 0.25s ease-out;
        }

        .department-dropdown {
          position: absolute;
          left: 0;
          top: -10px;
          width: 100%;
          opacity: 0;
          background-color: white;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 8px;
          // margin-top: 4px;

          .department-search {
            width: 100%;
            padding: 8px;
            margin-bottom: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }

          .department-search:focus {
            outline: none !important;
            border: 1px solid rgb(62, 174, 134);
          }

          .department-list {
            max-height: 150px;
            overflow-y: auto;
            z-index: -10;
          }

          .department-option {
            display: flex;
            align-items: center;
            padding: 8px;
            border-bottom: 1px solid #eee;
            border-radius: 16px;
            font-size: 1.45rem;
            cursor: pointer;

            &:last-child {
              border-bottom: none;
            }

            &:hover {
              background-color: rgba(230, 230, 230, 0.776);
            }

            &.selected {
              transition: 0.15s ease-out;
              background-color: rgb(62, 174, 134);
              color: white;
            }

            input[type="checkbox"] {
              appearance: none;
            }
          }
        }

        .arrow-icon {
          margin-left: auto;
          border-radius: 10px;
          width: 20px;
          height: 20px;
          transition: transform 0.3s ease;
          filter: brightness(0) saturate(100%) invert(11%) sepia(14%) saturate(1006%) hue-rotate(224deg) brightness(97%) contrast(90%);

          &.rotated {
            transform: rotate(180deg);
          }
        }
      }
      }

    }

    .prof-wrap {
      .loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 86px;
        margin: 32px auto;
    
        .spinner {
          width: 40px;
          height: 40px;
          border: 4px solid rgba(0, 0, 0, 0.1);
          border-top-color: #3EAE86;
          border-radius: 50%;
          animation: spin 1s ease-in-out infinite;
        }
    
        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }
      }
      width: 100%;
      padding-left: 32px;

      .empty-div {
        margin-bottom: 32px;
        @media (max-width: 840px) {
          // margin: 24px auto;
          margin-bottom: 24px;
        }
      }
      .professor {
        width: 100%;
        border-radius: 8px;
        background-color: #f5f5f5;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 6px;
        padding: 20px;
        transition: background-color 0.05s ease-out, cursor 0.05s ease-out;
    
        display: flex;
        align-items: center; /* Align items vertically to center the image and content */
    
        &:hover {
          background-color: #e0e0e0;
          cursor: pointer;
        }


        .profileImage-wrap {
          // @media (max-width:840px) {
          //   height: 48px;
          //   width: 48px;
          // }
          flex-shrink: 0;
          
          height: 64px;
          width: 64px;
          display: flex;
          justify-content: center; /* Center the image horizontally */
          align-items: center; /* Center the image vertically */
          margin-right: 8px; /* Add some space between the image and content */
    
          img {
            border: 1px solid #d3d3d3;
            border-radius: 50%; /* Make the image circular */
            height: 100% !important;
            width: 100% !important;
            object-fit: cover; /* Ensure the image fits within the circle */
          }
        }
    
        .prof-content {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-left: 12px;
          
          .professorName {
            font-weight: bold;
            font-size: 1.6rem;
            color: #333;
          }
  
          .department {
            font-size: 1.2rem;
            margin-top: 5px;
            color: #666;
          }
  
          .schoolName {
            font-size: 1.2rem;
            margin-top: 5px;
            color: rgb(80, 80, 80);
          }
  
          .infoContainer {
            display: flex;
            justify-content: space-between;
          }
  
          .rating-score {

            margin-top: 14px;
          }
  
          .reviewCommentLength {
            font-size: 0.8em;
            color: #333;
            margin-top: 15px;
          }
  
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }

    .search-bottom {
      width: 100%;
      // margin: 32px auto;
      padding: 20px;
      border-radius: 13px;
      background-color: #3eae86;
      font-size: 16px;
      font-weight: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      margin-bottom: 32px;
      @media (max-width: 1020px) {
        // margin: 24px auto;
        margin-bottom: 32px;
      }
      @media (max-width: 840px) {
        // margin: 24px auto;
        margin-bottom: 24px;
      }

      .box-top {
        display: flex;
        flex-direction: row;
        padding-bottom: 8px;

        .img-box {
          height: 58px;
          width: 58px;
          margin-right: 16px;

          img {
            filter: brightness(200%);
            border-radius: 8px;
            height: 58px;
            width: 58px;
          }
        }

        .text-box {
          display: flex;
          flex-direction: column;
          margin-bottom: 0;

          .text-a {
            font-weight: 700;
          }

          .text-b {
            margin-top: 6px;
          }
        }
      }


      .review-btn:hover {
        background-color: rgba(55, 55, 55, 1);
      }

      .review-btn {
        width: 100%;
        background-color: black;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 36px;
        border-radius: 18px;
        display: flex;
        color: white;

        a {
          width: 100%;
          height: 36px;
        }
      }
    }
  }

  .toggle-filter-btn.active {
    color: white;
    background-color: #3eae86;
    border-radius: 18px 18px 0 0px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
  }

  .toggle-filter-btn {
    margin-bottom: 0;
    padding: 10px 20px;
    background-color: #3eae86;
    color: white;
    border: none;
    height: 36px;
    border-radius: 18px;
    font-size: 1.5rem;
    font-weight: 500;
    width: calc(100vw - 72px);

    @media (max-width: 1020px){
      width: calc(100vw - 64px);
    }

    @media (max-width: 840px){
      width: calc(100vw - 32px);
    }
    // width: 100%;

    margin: auto 16px;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background-color: #2b8d6c;   
      color: white;
    }

    @media (min-width: 1020px) {
      display: none;
    }
  }
}