.search-result-wrap {
  display: flex;
  flex-direction: column;
  .searchResults {

    display: flex;
    flex-direction: column;
    align-items: center;

    .searchTermInfo {
      margin-bottom: 16px;
      font-size: 1.6rem;
      color: #333;
    }

    .filter {
      height: 38px;
      position: relative;
      border-radius: 8px;
      padding: 8px;
      margin-bottom: 20px;
      max-width: 256px;
      border: 1px solid rgb(185, 185, 185);
      width: 100%;
      background-color: white;
      cursor: pointer;
      justify-content: center;

      &:hover {
        background-color: rgb(245, 245, 245, 0.55);
        border: 1px solid rgb(245, 245, 245);
      }
    
      .filter-top {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1; /* Make sure the content stays on top */
        .dropdown-label{
          font-size: 1.5rem;
        }
      }
    
      .filter-overlay {
        
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2; /* Make sure the overlay is on top */
        cursor: pointer;
        // background: transparent; /* Ensure the background is transparent */
        
      }
    
      .department-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px;
        margin-top: 4px;
        z-index: 1000;
    
        .department-search {
          width: 100%;
          padding: 8px;
          margin-bottom: 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }

        .department-search:focus{
          outline: none !important;
          border: 1px solid rgb(62, 174, 134);
          
          
        }
    
        .department-list {
          max-height: 150px;
          overflow-y: auto;
        }
    
        .department-option {
          display: flex;
          align-items: center;
          padding: 8px;
          border-bottom: 1px solid #eee;
          border-radius: 16px;
          font-size: 1.45rem;
          cursor: pointer;
        
          &:last-child {
            border-bottom: none;
          }
        
          &:hover {
            background-color: rgb(62, 174, 134, 0.5);
          }
        
          &.selected {
            transition: 0.15s ease-out;
            background-color: rgb(62, 174, 134);
            color:white;
          }
        
          input[type="checkbox"] {
            // margin: auto 8px;
            appearance: none;
          }
        }
      }
    
      .arrow-icon {
        margin-left: auto;
        border-radius: 10px;
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease;
        filter: brightness(0) saturate(100%) invert(11%) sepia(14%) saturate(1006%) hue-rotate(224deg) brightness(97%) contrast(90%);
    
        &.rotated {
          transform: rotate(180deg);
        }
      }
    }
    

    .professor {
      // height: 144git px;
      width: 100%;
      min-width: 400px;
      border-radius: 8px;
      background-color: #f5f5f5;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 2px;
      padding: 20px;
      transition: background-color 0.05s ease-out, cursor 0.05s ease-out;

      &:hover {
        background-color: #e0e0e0;
        cursor: pointer;
      }

      .professorName {
        font-weight: bold;
        font-size: 1.6rem;
        color: #333;
      }

      .department {
        font-size: 1.2rem;
        margin-top: 5px;
        color: #666;
      }

      .schoolName {
        font-size: 1.2rem;
        margin-top: 5px;
        color: rgb(80, 80, 80);
      }

      .infoContainer {
        display: flex;
        justify-content: space-between;
      }

      .averageRating {
        font-weight: bold;
        font-size: 0.8em;
        color: #333;
        margin-top: 20px;
      }

      .reviewCommentLength {
        font-size: 0.8em;
        color: #333;
        margin-top: 20px;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .search-bottom{

    width: 400px;
    margin: 36px auto;
    padding: 16px;
    height: 144px;
    border-radius: 13px;
    // background-color: #04da8d;
    background-color: #3eae86;
    font-size:  16px;
    font-weight: 700px !important;
    // .box-temp{
    //   background-color: white;
    //   width: 32px;
    //   height: 32px;
    // }
    .text-a{
      font-weight: 700;
    }
    .text-b{
      margin-top: 8px;
      margin-bottom: 16px;
    }
    .review-btn{
      
      background-color: black;
      align-items: center; 
      justify-content: center; 
      text-align: center;
      height: 36px;
      border-radius: 18px;
      display: flex;
      color:white;
      // margin: auto 12px;
      // width: 168px;
      a{
        height: 36px;
        // background-color: red;
        span{
          height: 36px;
          // background-color: orange;
        }
      }

    }
  }
}
