.profProfile {
  border-top: 1px solid #d3d3d3;
  padding-top: 12px;
  margin: 0 36px 36px 36px;
  

  @media (max-width:840px) {
    padding-top: 16px;
    margin: 0px 16px 16px 16px;
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    font-weight: bold;
  }

  .profDetails {
    background-color: #fff;
    margin-bottom: 20px;
    @media (max-width: 840px) {
      margin-bottom: 0px;
    }

    .upload-progress {
      margin: 20px 0;
      text-align: center;

      .progress-bar {
        width: 100%;
        max-width: 400px;
        background-color: #e0e0e0;
        border-radius: 20px;
        overflow: hidden;
        height: 20px;
        margin: 0 auto;
      }

      .progress {
        height: 100%;
        background-color: rgb(55, 214, 55); /* Green color for progress */
        transition: width 0.4s ease;
      }

      p {
        margin-top: 10px;
        font-size: 14px;
        color: #333;
      }
    }

    .profHeader {
      .top-wrap {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      
        .profileImage-wrap {
          height: 80px;
          width: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0; /* Prevent shrinking of the container */
        
          img {
            width: 80px; /* Fixed width */
            height: 80px; /* Fixed height */
            object-fit: cover; /* Ensure the image fits within the circle */
            border-radius: 40px; /* Make the image circular */
            border: 1px solid #d3d3d3; /* Optional border */
          }
        }

      }
      

      

      display: flex;
      flex-direction: column;
      // align-items: center;

      .profName {
        font-size: 24px;
        font-weight: bold;
        margin: 8px 0;
        color: #333;
        @media(max-width: 840px){
          font-size: 1.9rem;
        }
      }

      .profIntro {
        @media(max-width: 840px){
          font-size: 14px;
        }
        font-size: 16px;
        color: black;
        margin-top: 0px;
        margin-bottom: 12px;
        b{
          font-weight: 600 !important;
        }
      }
      .bottom-wrap {
        margin-bottom: 12px;
        button {
          width: 100%;
          padding: 8px 16px;
          border: none;
          border-radius: 24px;
          cursor: pointer;           
          &.review-button {
            @media (max-width:840px) {
              background-color: rgba(230, 230, 230, 0.776);
              border: 0px;
              &:hover {
                border: 0px !important;
                background-color: rgb(225, 225, 225);
              }
              color:black;
            }
            // width: 170px;
            // width: 170px;
            border-radius: 18px;
            font-size: 1.5rem;
            font-weight: 500;
            color: black;
            background-color: white;
            border: 1px solid #00000033;
            &:hover {
              border: 1px solid #0000007F;
              // background-color: rgb(225, 225, 225);
            }
          }
        }
        .review-count,
        .follower-count,
        .like-count {
          font-size: 16px;
          .number{
            font-weight: bold;
          }
        }
        @media (max-width: 840px) {
          flex-direction: column-reverse; /* Move items to different columns for small screens */
          // align-items: flex-start; /* Align to the left for better readability */
          gap: 12px; /* Adjust gap between rows */
          .count-wrap{
            @media (max-width: 840px) {
              padding-bottom: 12px;
            }
            border-top: 1px solid #d3d3d3;
            border-bottom: 1px solid #d3d3d3;
            padding-top: 12px;
            width: 100%;
            display: flex;
            flex-direction: row !important;
            .review-count,
            .follower-count,
            .like-count {

              .number{
                font-weight: bold;
              }
              font-size: 14px;
              width: 100%;
              flex-direction: column !important; /* Numbers and text on different lines */
              align-items: center;
              text-align: center; /* Center-align numbers and text */
              justify-content: space-between;
            }
          }

          .review-count,
          .follower-count,
          .like-count {
            
            flex-direction: row; /* Numbers and text on different lines */
            align-items: center;
            text-align: center; /* Center-align numbers and text */
          }
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-top: 16px;
        // background-color: #f9f9f9;
        // padding: 16px;
        border-radius: 8px;
  
        .count-wrap {
          display: flex;
          gap: 16px;
          align-items: center;

          @media (max-width: 840px) {
            flex-direction: column; /* Move items to different columns for small screens */
            align-items: flex-start; /* Align to the left for better readability */
            gap: 8px; /* Adjust gap between rows */

            .review-count,
            .follower-count,
            .like-count {
              flex-direction: column; /* Numbers and text on different lines */
              align-items: center;
              text-align: center; /* Center-align numbers and text */
            }
          }
  
          .review-count,
          .follower-count,
          .like-count {
            .count-text{
              color:#6e6d7a
            }
            display: flex;
            flex-direction: row; /* Numbers and text on the same row by default */
            align-items: center;
            gap: 4px;
          }
        }
  
        .button-wrap {
          display: flex;
          gap: 16px;
          .follow-button,
          .like-button,
          .review-button{
            font-weight: 500;
            font-size: 1.5rem;
            font-family: Helvetica Neue, Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
            img{
              height: 32px;
              width: 32px;
            }
          }
          
          @media(max-width:840px){
            width: 100%;
            align-items: center;
            justify-content: center;
            button {
              width: 100%;
            }
          }
  
          button {
            padding: 8px 18px;
            border: none;
            border-radius: 24px;
            cursor: pointer;
  
            &.follow-button {
              background-color: rgba(230, 230, 230, 0.776);
              @media (max-width:840px){
                background-color: rgb(55, 214, 55);
                color:white;
                &:hover {
                  background-color: #23A923 !important;
                }
              }
                
              
              color: black;
              font-weight: 500;
  
              &:hover {
                background-color: rgb(225, 225, 225);
              }
            }
  
            &.like-button {
              // width: 170px;
              border-radius: 18px;
              font-size: 1.5rem;
              font-weight: 500;
              color: black;
              background-color: rgba(230, 230, 230, 0.776);
              &:hover {
                background-color: rgb(225, 225, 225);
              }
              @media (max-width: 840px) {
              }
            }
          }
        }
      }
      button {
        width: 100%;
        padding: 8px 16px;
        border: none;
        border-radius: 24px;
        cursor: pointer;           
        &.review-button {
          border-radius: 18px;
          font-size: 1.5rem;
          font-weight: 600 !important;
          color: #333;
          background-color: white;
          border: 1px solid #00000033;
          transition: all 0.02s ease-in-out;
          &:hover {
            border: 1px solid #0000009F;
            // background-color: rgb(225, 225, 225);
          }
        }
      }
    }

    .pictureGallery {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      .pictureItem {
        display: flex;
        flex-direction: column;
        align-items: center;

        .profPicture {
          width: 150px;
          height: 150px;
          object-fit: cover;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        button {
          margin-top: 10px;
          background-color: #007bff;
          color: white;
          padding: 8px 12px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #0056b3;
          }
        }

        span {
          margin-top: 5px;
          font-size: 14px;
          font-weight: bold;
          color: #333;
        }
      }
    }
  }

  .commentForm {
    margin-top: 20px;

    h3 {
      margin-bottom: 10px;
      color: #333;
      font-weight: bold;
    }

    form {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 5px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s;

      &.collapsedForm {
        align-items: center;
        justify-content: center;
        height: 50px;
      }

      .collapsedTextArea {
        height: 100%;
        width: 100%;
        padding: 9px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: #555;
        background-color: #fff;
        cursor: pointer;
        transition: height 0.3s;
      }

      .expandedTextArea {
        height: 100px;
      }

      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }

      .ratingInputs {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        align-items: center;

        label {
          margin-right: 10px;
          font-size: 16px;
          font-weight: bold;
        }

        .ratingButton {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          margin-right: 10px;
          margin-bottom: 7.5px;
          margin-top: 7.5px;
          border: 1px solid #ccc;
          border-radius: 50%;
          font-size: 16px;
          background-color: #fff;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s;

          &.active {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
          }

          &:hover {
            background-color: #f0f0f0;
          }

          &:nth-child(2):hover,
          &:nth-child(8):hover {
            background-color: #ff6347;
          }

          &:nth-child(2).active,
          &:nth-child(8).active {
            background-color: #ff6347;
          }

          &:nth-child(3):hover,
          &:nth-child(9):hover {
            background-color: #ffa600;
          }

          &:nth-child(3).active,
          &:nth-child(9).active {
            background-color: #ffa600;
          }

          &:nth-child(4):hover,
          &:nth-child(10):hover {
            background-color: #ffff00;
          }

          &:nth-child(4).active,
          &:nth-child(10).active {
            background-color: #ffff00;
          }

          &:nth-child(5):hover,
          &:nth-child(11):hover {
            background-color: #90ee90;
          }

          &:nth-child(5).active,
          &:nth-child(11).active {
            background-color: #90ee90;
          }

          &:nth-child(6):hover,
          &:nth-child(12):hover {
            background-color: #008000;
          }

          &:nth-child(6).active,
          &:nth-child(12).active {
            background-color: #008000;
          }
        }
      }

      .courseCodeContainer {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 10px;

        .courseCodeInput {
          flex: 1;
          padding: 10px;
          margin-right: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
        }

        .buttonGroup {
          display: flex;
          justify-content: flex-end;
          width: auto;

          .submitButton,
          .cancelButton {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            margin-left: 10px;
            transition: background-color 0.3s;

            &.submitButton {
              background-color: #e1e1e1;
              color: black;

              &:hover {
                background-color: #0056b3;
              }
            }

            &.cancelButton {
              background-color: #f1f1f1;
              color: black;

              &:hover {
                background-color: #e55347;
              }
            }
          }
        }
      }
    }
  }

  .profComments {
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: 840px) {
      margin-top: 0px;
    }
    .commentItem {
      @media (max-width: 840px) {
        // margin-bottom: 9px;
      }
      
      border-radius: 8px;
      padding: 12px;
      margin-bottom: 15px;
      background-color: rgb(248, 249, 250);
      box-shadow: 2px 2px 3px #eeeeee, -2px -2px 3px #ffffff;
      // background-color: #fff;
      // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      // min-height: 256px;

      .commentHeader {
        display: grid;
        grid-template-columns: 92px 1fr;
        justify-content: space-between;
        margin-bottom: 10px;
        min-height: 160px;
        // overflow: hidden;

        @media (max-width: 840px) {
          display: flex;
          flex-direction: column;
        }

        .ratingContainer {
          display: flex;
          flex-direction: column;
          border-radius: 8px;
          padding: 0 10px;
          margin-right: 10px;
          // border-bottom: 1px solid #999;

          @media (max-width: 840px) {
            margin-right: 0px;
            margin-top: 8px;
            margin-bottom: 4px;
            
            border-radius: 0px;
            flex-direction: row;
            padding: 0px;
            justify-content: center;
            
            // background-color: rebeccapurple;

            .rating-wrap:last-child {
              margin-left: 16px;
            }
          }

          .rating-wrap {
            &:last-child {
              // margin-top: 16px;
            }
            margin-top: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media (max-width: 840px) {
              width: 100%;
            }
            .ratingLabel {
              margin-top: 4px;
              font-size: 14px;
              color: #333;
              // color: #999;
              font-weight: 500;
              
              
              text-align: center;
              width: 100%;
              // margin-bottom: 8px;
              &:last-child{

              }
              @media (max-width: 840px) {
                width: 100%;
                height: 18px;
                margin-bottom: 0;
              }
            }

            .ratingRow {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              
              height: 100%;
              width: 52px;
              @media (max-width: 840px) {
                // width: 100% !important;
                // height: 45px;
                // width: 45px;
                margin-bottom: 5px;
              }
              .ratingValue {
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                height: 52px;
                width: 52px;
                border-radius: 50%;
                font-weight: bolder;
                color: black;
                background-color: #e1e1e1;
                @media (max-width: 840px) {
                  // width: 100% !important;
                  // background-color: transparent;
                  // height: 45px;
                  // width: 45px;
                }
              }
            }

            .qualityRatingRow {    
              @media (max-width: 840px) {
                width: 100%;
                color:black;
                background-color: transparent;
                
              }

              color:white;
              border-radius: 26px;
            }

            .difficultyRatingRow {
              @media (max-width: 840px) {
                width: 100%;
                background-color: transparent;
                color:black;
              }
              color:white;
              border-radius: 26px;
            }
          }
        }

        .commentTop {
          display: flex;
          justify-content: space-between; // Ensures .commentUser and .commentDate stay at the sides
          align-items: center;
          position: relative; // To allow absolute positioning for .commentCourse
          width: 100%;
          margin-bottom: 8px;
          padding-top: 8px;
        
          .commentUser {
            font-size: 14px;
            color: #555;
            margin: 0;
          }
        
          .commentCourse {
            // background-color: white;
            color:black !important;
            height: 32px;
            border-radius: 16px;
            width: 96px;
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute; // Ensures it's centered relative to .commentTop
            left: 50%; // Move the element to the center of the container
            transform: translateX(-50%); // Shift it back by 50% of its own width for true centering
            font-size: 15px;
            font-weight: bold;
            color: #333;
            margin: 0;
          }
        
          .commentDate {
            font-size: 14px;
            color: #555;
            margin: 0;
          }
        }
        
      }

      .commentContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        // overflow: hidden;
      }

      .commentReview {
        font-size: 16px;
        margin: 0 0 5px;
        color: black;

        @media (max-width: 840px) {
          margin-bottom: 8px;
          // font-size: 14px;
        }
      }

      .likeDislikeShareContainer {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        margin-top: auto;
        padding-top: 3px;
        padding-bottom: 1px;
        
        
        border-radius: 25px;
        height: 36px;
        @media (max-width: 840px) {
          padding-top: 15px;
          // margin-bottom: 4px;
        }

        .likeDislikeContainer {
          display: flex;
          justify-content: center;
          // background-color: rgb(248, 249, 250);  /* Matching parent background */
          background-color: rgba(230, 230, 230, 0.776);
          // border-radius: 16px;  /* Soft rounded corners */
          // box-shadow: 2px 2px 2px rgba(55, 55, 55, 0.245),  /* Dark shadow for depth */
          // -2px -2px 2px rgba(255, 255, 255, 0.925); 
          width: 102px;
          border-radius: 18px;

          .likeButton,
          .dislikeButton {
            background-color: rgba(230, 230, 230, 0.776);
            color:black;
            padding: 6px;
            margin: 0 10px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &.liked {
              color: #007bff;
            }

            &.disliked {
              color: #ff6347;
            }

            &.likeButton:hover {
              color: #007bff;
              background-color: #e1e1e1;
            }

            &.dislikeButton:hover {
              color: #ff6347;
              background-color: #e1e1e1;
            }
          }

          .dislikeButton {
            transform: rotate(180deg);
          }

          .likeCount {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
          }
        }

        .shareContainer {
          background-color: rgba(230, 230, 230, 0.776);
          &:last-child{
            
            margin-left: auto;
            // margin-right: 4px;
          }
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;
          // background-color: #f1f1f1;
          height: 100%;
          border-radius: 18px;
          height: 36px;

          &:hover {
            background-color: #e1e1e1;
          }

          .shareButton ,
          .commentButton {
            
            // span{
              font-weight: 500 !important;
            // }
            @media (max-width:840px) {
              // display: flex;
              justify-content: center;
              align-items: center;
              height: 36px;
              width: 36px;
              padding: 0;
              display:block;
              margin:auto;
              img{
                height: 100%;
                width: 100%;
                padding: 8px;
                filter: brightness(0);
              }

            }

            padding: 6px;
            margin: 0 10px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            font-size: 1.5rem;
            font-weight: 500 !important;
            font-family: Helvetica Neue, Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;

            &:hover {
              // color: #00b300;
            }
          }
        }
      }
    }
    .no-comments{
      @media (max-width:840px) {
        .image-wrap {
          margin: auto 8px;
          height: 64px;
          width: 64px;
        
          img {
            width: 64px; 
            height: 64px;
            border-radius: 8px;
            
          }
        }
      }
      .image-wrap {
        @media (max-width: 840px) {
            height: 64px !important;
            width: 64px !important;
          
            img {
              width: 64px !important; 
              height: 64px !important;
              border-radius: 8px;
              
            }
        }
        margin: auto 8px;
        height: 96px;
        width: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0; /* Prevent shrinking of the container */
      
        img {
          // filter: invert(1) brightness(200%);
          width: 96px; /* Fixed width */
          height: 96px; /* Fixed height */
          object-fit: cover; /* Ensure the image fits within the circle */
          border-radius: 12px; /* Make the image circular */
          // border: 1px solid #d3d3d3; /* Optional border */
        }
      }
      .text-wrap{
        margin-left: 12px;
        justify-content: center;
        align-items: center;
        .no-commnets-title{
          @media (max-width: 840px) {
            font-size:19px;
            margin-bottom: 6px;
          }
          font-weight: 700;
          font-size: 24px;
          margin-bottom: 12px;
        }

        .no-commnets-text{
          @media (max-width: 840px) {
            font-size: 14px;
          }
          &.a{
            // background-color: red;;
            margin-bottom: 2px;
          }
          
        }
      }
      display: flex;
      justify-content: center;
      @media (max-width: 840px) {
        justify-content: left;
      }
      align-items: center;
      height: 128px;
      // background-color: rgba(230, 230, 230, 0.776);;
    
      font-size: 16px;
      font-weight: 400;
      border-radius: 16px;
    }
  }
}



.skeleton-loader {
  padding: 12px 36px;
  display: flex;
  flex-direction: column;
  // gap: 16px;

  
  @media (max-width:840px){
    padding: 12px;
  }
}

.skeleton-header {
  margin: 0;
  padding: 0;

  height: 80px;
  width: 80px;
  border-radius: 40px;
  background-color: #e0e0e0;
  animation: skeleton-loading 1.2s ease-in-out infinite;
  // border-radius: 8px;
}

.skeleton-body {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  // background-color: red;
  margin-bottom: 20px;
  @media (max-width:840px) {
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.skeleton-line {
  height: 20px;
  width: 100%;
  background-color: #e0e0e0;
  animation: skeleton-loading 1.2s ease-in-out infinite;
  border-radius: 8px;
  &.name{
    width: 25%;
    height: 24px;
    margin: 8px 0;
    border-radius: 12px;
  }
  &.detail{
    border-radius: 10px;
    width: 75%;
    margin-bottom: 12px;
  }
  &.count{
    height: 36px;
    width: 25%;
    margin-bottom: 12px;
    border-radius: 18px;
  }
  &.rev-btn{
    width: 100%;
    height: 36px;
    // margin-bottom: 12px;
    border-radius: 18px;
  }

  &.content{
    min-height: 185px;
    margin-bottom: 12px;
    &:last-child{
      margin-bottom: 0px;
    }
    @media (max-width:840px) {

    }
  }
}

@keyframes skeleton-loading {
  0% {
      background-color: #e0e0e0;
  }
  50% {
      background-color: #f0f0f0;
  }
  100% {
      background-color: #e0e0e0;
  }
}