.ratingContainer {
    .rating-wrap {
        .difficultyRatingRow {
            .starRating {
                display: flex;
                align-items: center;

                .stars {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 8px;
                    border-radius: 8px;
                    height: 20px;
                    

                    .star {
                        font-size: 18px;
                        color: white; /* Stars will be white */
                        margin: 0 2px;
                        width: 24px;
                        height: 24px;
                        
                        line-height: 20px;
                        text-align: center;
                        border-radius: 8px;
                        transition: background-color 0.3s ease-in-out;
                        span{
                            margin-bottom: 2px;;
                        }
                        &.filled {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
