$footerHeight: 8rem;
$headerHeight: 6rem;
$mobilefooterHeight: 0rem;
$suggestion-item-appear-duration: 0.2s;

.directory {
  height: 100%;

  .wrap {
    width: 100%;
    display: flex;
    flex-direction: column;  /* This makes the typing-banner part of the column flow */
    justify-content: space-between; /* Ensures space between the content and footer */
    min-height: calc(var(--vh, 1vh) * 100 - #{$headerHeight});
  
    .typing-banner {
      background-color: #008938;
      color: white;
      font-size: 2rem;
      font-weight: bold;
      height: 48px;
      width: 100%;
      
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;
    
      .dynamic-text {
        transition: width 0.5s ease-out;
        text-align: center;
      }
    
      .cursor {
        border-right: 2px solid;
        animation: blink 1s step-end infinite;
      }
    
      /* Blinking effect for the cursor */
      @keyframes blink {
        50% {
          transition: all 0.25s ease-in-out;
          border-color: transparent;
        }
      }
    }

    .item {
      width: 100%;
      height: calc(100vh);
      
      top: 0px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: 100% 100%;
      transition: all 0.2s ease-out;

      @media (max-width: 840px) {
        height: 408px;
        &.shifted{
          height: 170px; 
          // background-color: red;
        }
        .search-wrapper {
          top: 8px;
          border-radius: 28px !important;
          
          &.with-shadow {
            
            // top: -112px; /* Move upwards when focused */
            box-shadow: 2px 2px 14px rgba(200, 215, 207, 0.925);

            z-index: 20;
          }
        }
      }

      .inner-wrap {
        height: 56px;
        width: 100%;
        margin: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        // background-color: red;

        .search-wrapper {
          z-index: 10;
          width: 100%;
          height: 48px;
          max-width: 557px;
          border-radius: 32px;
          position: absolute;

          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          
          &.with-shadow {
            box-shadow: 2px 2px 14px rgba(200, 215, 207, 0.925);
            // border-radius: 32px 32px 0 0 ;
            background-color: transparent !important;
          }

          @media(max-width: 840px){
            height: 40px;
            transition: height 0.2s ease-out;
          }


          .search-bar-block {
            height: 56px;
            position: absolute;
            margin-top: 8px;
            max-width: 557px;
            width: calc(100%);
            border-radius: 32px;
            background-color: transparent;
            @media(max-width: 840px){
              height: 40px;
              transition: height 0.2s ease-out;
            }
            &.active {
              background-color: rgb(240, 245, 242);
              box-shadow: 2px 2px 14px rgba(200, 215, 207, 0.925);
              border-radius: 32px 32px 0 0;
              transition: height 0.2s ease-out;
              @media(max-width: 840px){
                height: 48px;
                margin: auto 20px;
                transition: height 0.2s ease-out;
              }
            }
          }

          .search-bar {
            width: 100%;
            border: 1px solid rgba(180, 195, 187);
            border-radius: 29px;
            height: 50px;
            position: relative;
            transition: all 0.2s ease-out;
            @media(max-width: 840px){
              height: 50px;
              transition: height 0.2s ease-out;
            }
            &.no-shadow {
              box-shadow: none;
              border: 0px;
              &:hover{
                box-shadow: none;
              }
            }
          
            &:hover{
              transition: all 0.2s ease-out;
              box-shadow: 2px 2px 14px rgb(200, 215, 207, 0.925);
              border: 0px;
            }

            .suggestions {
              max-height: 0;
              opacity: 0;
              transition: max-height 0.25s ease, opacity 0.3s ease;
              
              position: absolute;
              width: calc(100% );
              max-width: 557px;
              background-color: rgb(240, 245, 242);
              border-radius: 0 0 28px 28px;
              z-index: -10;
              display: flex;
              flex-direction: column;
              box-shadow: 4px 4px 8px rgba(215, 215, 215, 0.425),
                          -4px 4px 8px rgba(215, 215, 215, 0.425);
              
              &.active {
                z-index: 20;
                max-height: 580px; /* Adjust the height as needed */
                opacity: 1;
                transition: max-height 0.25s ease, opacity 0.3s ease;
              }

              a {
                color: black;
              }

              .suggestion-item.active {
                background-color: #290542;
                color: white;
                border-radius: 0 28px 28px 0;

                &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  width: 6px;
                  background-color: #FFC20D;
                  border-radius: 0 4px 4px 0;
                }

                &:last-child {
                  overflow: hidden;
                  border-radius: 0 28px 28px 28px;
                }

                .professor-details {
                  .professor-department,
                  .professor-schoolName {
                    color: white;
                  }
                }
              }
            }
  
            .suggestions .suggestion-item.active {
              transition: max-height 0.25s ease, opacity 0.3s ease;
              background-color: #290542; 
              color: white;
              border-radius: 0 28px 28px 0;
  
              // &::before {
              //   content: '';
              //   position: absolute;
              //   left: 0;
              //   top: 0;
              //   bottom: 0;
              //   width: 6px;
              //   background-color: #FFC20D;
              //   border-radius: 0 4px 4px 0;
              // }
  
              &:last-child {
                overflow: hidden;
                border-radius: 0 28px 28px 28px;
              }
  
              .professor-details {
                overflow: visible;
                .professor-department,
                .professor-schoolName {
                  color: white;
                }
              }
            }
  
            .suggestion-item {
              width: 100%;
              font-size: 1.6rem;
              cursor: pointer;
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              padding: 3px 6px;
              position: relative;

              &.search-for{
                overflow: hidden;
                display: flex;
                align-items: center;
                height: 48px;
                border-top: 1px solid rgb(200, 215, 207);
                z-index: -10;
                &.active{
                  border-radius: 0 0px 28px 28px !important;
                }
                .img-wrap{
                  margin: auto 12px;
                  width: 24px;
                  height: 24px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  svg{
                    width: 16px;
                    width: 16px;
                  }
                }
              }

              .profileImage-wrap {
                margin: auto 8px;
                height: 32px;
                width: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
              
                img {
                  width: 32px; 
                  height: 32px;
                  object-fit: cover; 
                  border-radius: 40px;
                  border: 1px solid #d3d3d3; 
                }
              }
              &:last-child {
                padding-bottom: 8px;
              }
              &:last-child:hover{
                border-radius: 0px 28px 28px 28px;
              }
  
              &:hover {
                background: #280845;
                color: white;
                border-radius: 0px 28px 28px 0px;
                overflow: hidden;
                .right-wrap{
                  .professor-details {
                    
                    .professor-department,
                    .professor-schoolName {
                      color:white;
                    }
                    
                  }
                }
  
                &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  width: 6px; /* Width of the green box */
                  background-color: #FFC20D;
                  border-radius: 0 4px 4px 0;
                  
                }
  
  
              }
              .right-wrap{
                flex-grow: 1; /* Allow the right side to take up available space */
                min-width: 0; /* Prevent overflowing of content */
                overflow: hidden;
                text-overflow: ellipsis;
                .professor-name{
                  white-space: nowrap; /* Ensure professor name doesn't wrap */
                  overflow: visible;
                  text-overflow: ellipsis; 
                  font-size: 14px;
                }
                .professor-details {
                  display: flex;
                  flex-direction: column;
                  flex-wrap: nowrap; /* Ensure details don't wrap */
                  white-space: nowrap;
                  // overflow: hidden;
                  text-overflow: ellipsis;

                  .professor-department,
                  .professor-schoolName {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
  
              .professor-details {
                font-size: 1.2rem;
                margin-top: 2px;
  
                .professor-department {
                  color: rgb(155, 155, 155, 1);
                }
                .professor-schoolName {
                  margin-top: 1px;
                  display: block;
                  color: black; /* Adjust this color as needed */
                }
              }
            }
  
            .lu-search-icon-search-bar {
              margin-left: 22px !important;
              font-size: 2.2rem !important;
            }
  
            .clear-button,
            .arrow-icon {
              flex-shrink: 0;
            }

            .arrow-button {
              width: 36px;
              height: 36px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-right: 16px;
              // background-color: red;
              // border-radius: 0 50% 50% 0;
              border-radius: 18px;
              margin-left: 8px;
              margin-right: 6px;
              cursor: pointer;
              &:hover {
                background-color: rgba(155, 155, 155, 0.55);  // A lighter, softer gray
                color: white;
                
                cursor:not-allowed;
              }
              &.active{
                color: white;
                background-color: #008938;
              }
            
              &.active:hover {
                
                color: #FFC20D;
                background-color: #007a30;
                transition: all 0.2s ease;
                cursor: pointer;
              }
            }
  
  
  
            .clear-button {
              font-weight: 500;
              // background-color: rgb(155, 155, 155, 0.55);
              background-color: #FFC20D;
              color:black;
              height: 18px;
              width: 50px;
              font-size: 1rem;
              border-radius: 9px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
  
            .clear-button:hover {
              color:#008938;
              background-color: #F5B800;
              transition: all 0.05s ease-out;
            }
  
            .search-input {
              display: flex;
              align-items: center !important;
              justify-content: space-between;
              box-sizing: border-box;
              padding: 0px !important;
              width: 100%;
              height: 100%;
              overflow: hidden;
              background-color: white;
              // background-color: red;
              border-radius: 28px;
              transition: height 0.2s ease-out;
              input,
              button,
              textarea {
                -webkit-appearance: none;  // Disables iOS default styling
                border-radius: 0;         // Prevents iOS rounding input fields
                margin: 0;
                padding: 0;
              }
              input{
                height: auto;  // Instead of a fixed height
                min-height: 44px; 

                border: none;
                padding: 16px;
                padding-right: 8px;
                height: 56px;
                width: 100%;
                outline: none;
                font-size: 1.6rem;
                box-sizing: border-box;  // Ensures padding doesn't affect the total width
                
                
              }
              @media(max-width: 840px){
                height: 48px;
                transition: height 0.2s ease-out;
              }
  
              &.active {
                border-radius: 28px;
              }
  
              svg {
                margin-left: 16px;
              }
            }
          }
        }

        .polyfica_text {
          &.hide{
            opacity: 0;
            height:0;
          }
          position: absolute;
          top: 50%;  // Adjust according to the layout needs
          left: 50%;
          transform: translate(-50%, -120%) scale(0.75);
          width: 100%;  // Ensure it spans the full width if needed
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;  // Centralize text inside the div
          img {
            // transform: translate(0, -8px);
            max-width: 416px;
            display: block;
            display: flex;
            margin: 0 auto;
            transition: all 0.5s ease-in-out;
            @media (max-width: 450px) {
              transition: all 0.5s ease-in-out;
              width: 80%;
              transform: translate(0, -25%);
              // margin-top: 12px;
              // margin-bottom: -24px;
            }
          }
        }

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
        }
      }
    }
  }
}
