$footerHeight: 8rem;
$headerHeight: 6rem;
$mobilefooterHeight: 0rem;
$suggestion-item-appear-duration: 0.2s;

.directory {
  height: 100%;

  .wrap {
    display: flex;
    flex-direction: column;  /* This makes the typing-banner part of the column flow */
    justify-content: space-between; /* Ensures space between the content and footer */
    min-height: calc(var(--vh, 1vh) * 100 - #{$headerHeight});
    // padding: 16px;
    width: 100%;

    .typing-banner {
      background-color: #008938;
      color: white;
      font-size: 2rem;
      font-weight: bold;
      height: 48px;
      width: 100%;
      
      /* Use flexbox properties to center content */
      display: flex;
      justify-content: center;
      align-items: center;
    
      /* Automatically push it to the bottom */
      margin-top: auto;
    
      .dynamic-text {
        transition: width 0.5s ease-out;
        text-align: center;
      }
    
      .cursor {
        border-right: 2px solid;
        animation: blink 1s step-end infinite;
      }
    
      /* Blinking effect for the cursor */
      @keyframes blink {
        50% {
          transition: all 0.25s ease-in-out;
          border-color: transparent;
        }
      }
    }

    .item {
      height: calc(100vh);
      width: 100%;
      
      top: 0px;
      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;
      background-size: 100% 100%;
      transition: all 0.5s ease-in-out;
      
      @media (max-width: 555px) {
        height: 448px;

        .search-wrapper {
          /* Initial state */
          top: 8px;
          position: relative;
          transition: top 0.5s ease-in-out; /* Apply smooth transition on the top property */
      
          &.with-shadow {
            top: -132px; /* Move upwards when focused */
            z-index: 20;
          }
        }
      }

     
      .inner-wrap {
        height: 64px;
        width: 100%;
        margin: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        // background-color: rgb(240, 245, 242);
        @media (max-width: 840px) {
          // transform: translateY(-50px); /* Move up on smaller screens */
        }

        @media (max-width: 600px) {
          // transform: translateY(-75px); /* Move up more on very small screens */
        }

        @media (max-width: 400px) {
          // transform: translateY(-100px); /* Further adjustment for mobile */
        }

        .search-wrapper {
          height: 56px;
          border-radius: 32px;
          position: absolute;
          max-width: 557px;
          width: 100%;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 10;
          @media(max-width: 840px){
            height: 48px;
            transition: height 0.2s ease-out;
          }
          &.with-shadow {
            box-shadow: 2px 2px 14px rgba(200, 215, 207, 0.925);
            border-radius: 32px 32px 0 0 ;
          }

          // wrap when search input is active
          .search-bar-block {
            height: 64px;
            position: absolute;
            margin-top: 8px;
            max-width: 557px;
            width: calc(100%);
            
            border-radius: 32px 32px 0 0;

            &.active {
              background-color: rgb(240, 245, 242);
              transition: height 0.2s ease-out;
              @media(max-width: 840px){
                height: 48px;
                margin: auto 20px;
                transition: height 0.2s ease-out;
              }
            }
          }

          .search-bar {
            width: 100%;
            border: 1px solid rgb(200, 215, 207);
            border-radius: 29px;
            
            position: relative;
  
            &.no-shadow {
              box-shadow: none;
              border: 0px;
              &:hover{
                box-shadow: none;
              }
            }
          
            &:hover{
              box-shadow: 2px 2px 14px rgb(200, 215, 207, 0.925);
              border: 0px;
            }
            &:focus-within ~ .search-bar-block {
              background-color: black;
              // border: 0px;
              // position: fixed;
              // top: 0;
              // box-shadow: 2px 2px 14px rgb(200, 215, 207, 0.925);
            }
            &.active{
              // box-shadow: 2px 2px 14px rgb(200, 215, 207, 0.925);
              // border: 0px;
              // background-color: red !important;
            
              .search-input{
                
              }
            }
            
            .suggestions {
              max-height: 0;
              opacity: 0;
              transition: max-height 0.25s ease, opacity 0.3s ease;
              position: absolute;
              width: calc(100% );
              max-width: 557px;
              background-color: rgb(240, 245, 242);
              border-radius: 0 0 28px 28px;
              z-index: 10;
              display: flex;
              flex-direction: column;
              box-shadow: 4px 4px 8px rgba(215, 215, 215, 0.425),
                          -4px 4px 8px rgba(215, 215, 215, 0.425);

              
              &.active {
                z-index: 20;
                max-height: 580px; /* Adjust the height as needed */
                opacity: 1;
                transition: max-height 0.25s ease, opacity 0.3s ease;
              }
              

              a {
                color: black;
              }

              .suggestion-item.active {
                background-color: #290542;
                color: white;
                border-radius: 0 28px 28px 0;

                &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  width: 6px;
                  background-color: #FFC20D;
                  border-radius: 0 4px 4px 0;
                }

                &:last-child {
                  overflow: hidden;
                  border-radius: 0 28px 28px 28px;
                }

                .professor-details {
                  .professor-department,
                  .professor-schoolName {
                    color: white;
                  }
                }
              }
            }
  
            .suggestions .suggestion-item.active {
              transition: max-height 0.25s ease, opacity 0.3s ease;
              background-color: #290542; 
              color: white;
              border-radius: 0 28px 28px 0;
  
              &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 6px;
                background-color: #FFC20D;
                border-radius: 0 4px 4px 0;
              }
  
              &:last-child {
                overflow: hidden;
                border-radius: 0 28px 28px 28px;
              }
  
              .professor-details {
                .professor-department,
                .professor-schoolName {
                  color: white;
                }
              }
            }
  
            .suggestion-item {
              width: 100%;
              font-size: 1.6rem;

              // padding-left: 54px;
              /* Stagger the appearance of each item using nth-child */
  
              &.search-for{
                display: flex;
                align-items: center;
                height: 48px;
                border-top: 1px solid rgb(200, 215, 207);
                &.active{
                  border-radius: 0 0px 28px 28px !important;
                }
                .img-wrap{
                  margin: auto 16px;
                  // width: 32px;
                  // height: 32px;
                  svg{
                    height: 100%;
                    width: 100%;
                  }
                }
              }
  
              cursor: pointer;
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              padding: 6px;
              position: relative; /* Added to position the green box */
              .profileImage-wrap {
                margin: auto 8px;
                height: 32px;
                width: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0; /* Prevent shrinking of the container */
              
                img {
                  width: 32px; /* Fixed width */
                  height: 32px; /* Fixed height */
                  object-fit: cover; /* Ensure the image fits within the circle */
                  border-radius: 40px; /* Make the image circular */
                  border: 1px solid #d3d3d3; /* Optional border */
                }
              }
              &:last-child {
                padding-bottom: 8px;
              }
              &:last-child:hover{
                border-radius: 0px 28px 28px 28px;
              }
  
              &:hover {
                background: #280845;
                color: white;
                border-radius: 0px 28px 28px 0px;
                overflow: hidden;
                .right-wrap{
  
                  .professor-details {
                    .professor-department,
                    .professor-schoolName {
                      color:white;
                    }
                    
                  }
                }
  
                &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  width: 6px; /* Width of the green box */
                  background-color: #FFC20D;
                  border-radius: 0 4px 4px 0;
                  
                }
  
  
              }
              .right-wrap{
                
                .professor-name{
                  font-size: 14px;
                }
                .professor-details {
                  
                  .professor-department,
                  .professor-schoolName {
  
                  }
                }
              }
  
              .professor-details {
                font-size: 1.2rem;
                margin-top: 3px;
  
                .professor-department {
                  color: rgb(155, 155, 155, 1);
                }
                .professor-schoolName {
                  margin-top: 1px;
                  display: block;
                  color: black; /* Adjust this color as needed */
                }
              }
            }
  
            .lu-search-icon {
              font-size: 1.6rem;
              flex-shrink: 0;
            }
  
            .clear-button,
            .arrow-icon {
              flex-shrink: 0;
            }

            .arrow-button {
              
              width: 48px;
              height: 56px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-right: 16px;
              
              border-radius: 0 50% 50% 0;
              margin-left: 8px;
              cursor: pointer;
              &:hover {
                background-color: rgba(155, 155, 155, 0.55);  // A lighter, softer gray
                color: white;
                transition: all 0.2s ease;
                cursor:not-allowed;
              }
              &.active{
                color: white;
                background-color: #008938;
              }
            
              &.active:hover {
                color: #FFC20D;
                transition: all 0.2s ease;
                cursor: pointer;
              }
            }
  
  
  
            .clear-button {
              font-size: 1.10rem;
              font-weight: 450;
              // background-color: rgb(155, 155, 155, 0.55);
              background-color: #FFC20D;
              color:black;
              height: 24px;
              width: 62px;
              border-radius: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              @media (max-width: 840px) {
                height: 20px;
                width: 50px;
                font-size: 1rem;
              }
            }
  
            .clear-button:hover {
              color:#008938;
              transition: all 0.05s ease-out;
            }
  
            .search-input {
              display: flex;
              height: 56px;
              overflow: hidden;
              align-items: center;
              background-color: white;
              border-radius: 28px;
  
              transition: height 0.2s ease-out;
              @media(max-width: 840px){
                height: 48px;
                // margin: auto 20px;
                transition: height 0.2s ease-out;
              }
  
              &.active {
                border-radius: 28px;
              }
  
              svg {
                margin-left: 16px;
              }
            }
  
            input {
              border: none;
              padding: 16px;
              height: 56px;
              width: 100%;
              outline: none;
              font-size: 1.6rem;
            }
          }
        }

        .polyfica_text {
          &.hide{
            opacity: 0;
          }
          opacity: 1;
          text-align: center;
          // margin-bottom: 16px;
          position: absolute;
          // filter: contrast(115%);
          transform: translateY(-96px) scale(0.75);
          // this changes the text to white
          // filter: sepia(100%) saturate(0%) hue-rotate(230deg) brightness(2);
          img {
            max-width: 425px; /* Ensures the image does not exceed the container width */
            height: auto; /* Maintains the aspect ratio */
            display: block;
            margin: 0 auto;
            @media (max-width: 555px) {
              width: 90%;
              margin-bottom: 0px;
              margin-bottom: -24px;
            }

          }
        }

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
        }
      }
    }
  }
}
