.column-wrap {
    display: flex;
    flex-direction: row;
    @media (max-width: 540px) {
        text-align: center;
        align-items: center;
        flex-direction: column !important;
    }

    .rating-sliders {
        @media (max-width: 540px) {
            width: 100%;
            align-items: center;
            justify-content: center;
            // border: 1px solid rgb(228, 228, 228);
            // border-radius: 6px;
            // box-shadow: rgba(126, 126, 126, 0.25) 0px 4px 4px;
            
        }

        display: flex;
        flex-direction: column;

        &:last-child {
            margin-left: 10px;
            @media (max-width: 540px) {
                margin-left: 0 !important;
                margin-top: 7.5px;
            }
        }

        .slider-label {
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 1.2rem;
        }

        .button-group-container {
            display: flex;
            overflow: hidden;
            margin: 4px 0px;
            border-radius: 32px;

            .button-container {
                transition: all 0.2s ease-out;
                width: 46px;
                height: 47.5px;
                padding: 0.25rem 0.75rem;
                margin: auto 2px;
                background-color: rgba(184, 184,184, 0.25);
                cursor: pointer;

                .button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding-top: 0px;
                    width: 32px;
                    height: 36px;
                    font-weight: 600;
                    font-size: 1.5rem;
                }

                &:first-child {
                    border-radius: 50% 0 0 50% !important;
                }

                &:last-child {
                    border-radius: 0 50% 50% 0 !important;
                }

                &:nth-child(1).active {
                    background-color: #FF5E5E;
                }
                &:nth-child(2).active {
                    background-color: #FFA15E;
                }
                &:nth-child(3).active {
                    background-color: #FFD65E;
                }
                &:nth-child(4).active {
                    background-color: #A5D66C;
                }
                &:nth-child(5).active {
                    background-color: #5EC16C;
                }
            }
        }
    }
}
