$customDarkGray: #b8b8b8;

.header {
    transition: all 0.25s ease-out;
    height: 6rem;
    background-color: transparent;
    z-index: 10;
    // position: fixed;
    width: 100%;
    top: 0;
    padding: 0 3.6rem;
    @media (max-width: 840px) {
        padding: 0 1.6rem;
    }
    
    .wrap {
        position: relative;
        height: 100%;

        .sideMenu,
        .logo,
        .callToActions {
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
        }

        .sideMenu {
            
            height: 36px;
            width: 36px;

            @media (max-width: 840px) {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            a {
                cursor: pointer;
                color: white;

                svg {
                    max-width: 100%;
                    max-height: 100%;
                    margin: 0 auto;
                    display: block;
                }

                &:hover {
                    background-color: rgba(238, 238, 238, 1);
                    border-radius: 6px;
                }
            }
        }

        .logo {
            width: 3.6rem;
            height: 3.6rem;
            left: 0px;

            @media (max-width: 840px) {
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                left: 50%;
            }

            img {
                display: block;
                width: 100%;
                margin: 0;
            }
        }

        .callToActions {
            right: 0px;
            color: black;
            // .signup-btn {
            //     background-color: white;
            // }

            ul,
            li {
                margin: 0;
                padding: 0;
                height: 36px;
                display: flex;
                align-items: center;
                
            }

            li.nav-item {
                border-radius: 18px;
            }
            ul{
                .nav-item{
                    .text-button{
                        // display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &:first-child{
                        width: 170px;
                        border-radius: 18px;
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: black;
                        background-color: rgba(223, 223, 223, 0.4);

                        &:hover {
                            background-color: #d3d3d3;
                        }
                        &:visited{
                            color: black;
                        }
        
                        a {
                            color: black;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                }
            }


            li.nav-item:nth-child(2) {
                a {
                    color: white;
                }

                &:hover {
                    background-color: #2b8d6c;
                }
            }

            // sign up button
            li.nav-item:last-child {
                cursor: pointer;
                // background-color: #3EAE86;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: #a2fad4;
                    transition: 0.25s ease-out;
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        max-width: 24px;
                        max-height: 24px;
                    }
                }
            }

            .nav-item {
                height: 36px;
                line-height: 36px;
                width: 112px;
                text-align: center;
                .material-symbols-outlined{
                    margin-bottom: 3px;padding-right: 8px;
                }
                .text-button.review-btn{
                    padding-bottom: 4px;
                    padding-top: 0px;
                    border-top-width: 0px;
                    border-top-style: solid;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    border-bottom-width: 0px;
                    border-bottom-style: solid;
                }

                a {
                    display: flex;
                    align-items: center;
                    vertical-align: middle;

                    svg {
                        max-width: 100%;
                        max-height: 100%;
                        margin: 0 auto;
                        display: block;
                    }

                    .cart-item-number {
                        padding: 1.6px 0;
                        padding-left: 0.5px;
                        font-size: 1rem;
                        position: absolute;
                        text-align: center;
                        min-width: 14px;
                        vertical-align: middle;
                        height: 14px;
                        border-radius: 50%;
                        bottom: -3px;
                        left: 55%;
                    }
                }

                span {
                    vertical-align: middle;
                }

                .icon-button {
                    --button-size: calc(var(--nav-size) * 0.35);
                    height: calc(var(--button-size));
                    width: var(--button-size);
                    vertical-align: middle;
                    cursor: pointer;
                    filter: invert(100%);
                    -webkit-filter: invert(100%);
                }

                .icon-button.with-profile-picture {
                    --button-size: calc(var(--nav-size) * 0.52);
                    border-radius: 50%;
                    filter: invert(0%);
                    -webkit-filter: invert(0%);
                }
            }

            li {
                list-style-type: none;
                padding: 0 8px;
                margin: 6px;
                display: inline-block;

                a,
                span {
                    justify-content: center;
                    font-weight: 500;
                    font-size: 1.5rem;
                }

                &:first-child {
                    border: none !important;
                    width: 136px;
                    padding: 0px;
                }

                &:first-child:hover {
                    background-color: #3eae8723;
                }

                &:nth-child(2) {
                    width: 80px;
                    color: white !important;
                }

                &:nth-child(3) {
                    width: 48px;
                }

                &:not(:last-child) {
                    color: #3EAE86;
                    background-color: #3EAE86;
                    border: none;
                }

                &:last-child {
                    margin-right: 0;

                    a span {
                        color: white;
                    }
                }
            }

            .signup-btn {
                z-index: 500;
                background-color: transparent;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover{
                    background-color: rgba(223, 223, 223, 0.4);
                }

                .material-symbols-outlined {
                    color: black;
                    font-size: 24px;
                }
            }
        }

        .mobile {
            ul {
                .nav-item {
                    padding: 0 !important;

                    &:hover {
                        background-color: rgba(238, 238, 238, 1);
                        border-radius: 6px;
                    }
                }
            }
        }
    }

    .sidebar.active {
        left: 0;
        transition: left 0.3s ease-in-out;
        z-index: 888;

        .sidebar-items {
            .nav-item {
                a {
                    span {
                        // font-size: 5rem;
                    }
                }
            }
        }
    }

    .sidebar {
        z-index: 888;
        left: calc(-100% - 300px);
        transition: left 0.3s ease-in-out;
        min-width: 29.24rem;
        background: white;
        height: calc(100vh - 60px);
        position: absolute;
        border-right: 1px solid lightgray;

        @media (max-width: 840px) {
            min-height: calc(100vh - 6rem - 7.5rem);
            width: 85vw;
        }

        .sidebar-items {
            padding: 2px 12px;

            .nav-item {
                height: 48px;
                list-style: none;
                width: 100%;
                margin: 8px 0;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    border-radius: 24px;
                    width: 100%;
                    height: 48px;
                    display: inline-flex;
                    padding: 15px 12px;

                    span {
                        height: 100%;
                        color: black;
                        font-weight: 300;
                        font-size: 1.6rem;
                    }
                }

                img {
                    width: 68px;
                    height: 68px;
                    border-radius: 50%;
                }

                &:hover a {
                    background-color: rgba(238, 238, 238, 1);
                }
            }

            .row-account {
                padding-bottom: 10px;
                border-bottom: 1px lightgray solid;
                margin-bottom: 10px;

                .nav-item {
                    a {
                        padding: 0;

                        .row-account-text {
                            font-size: 1.8rem;
                            font-weight: 500;
                            line-height: 48px;
                            padding-left: 15px;
                        }

                        img {
                            padding: 4px;
                        }
                    }
                }
            }

            .logged-out {
                .account {
                    border-bottom: 1px lightgray solid;
                    .nav-item {
                        .text-button {
                            font-weight: 500;
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}

.header.sticky {
    position: fixed;
    width: 100%;
}

.header.hidden {
    top: -80px;
    transition: all 0.35s ease-in-out !important;
}


.rev-modal {
    opacity: 0;
    top: calc((100vh - 6rem - (60rem + 49px)) / 2);
    z-index: -10;
    position: absolute;
    
    // X cetner, 
    justify-content: center;
    left: 0;right:0;
    margin: 0 auto;
    margin-top: 20px;
    
    max-height: calc(60rem + 249px);
    max-width: 55rem;

    overflow-y: hidden;
    
    background-color: white;
    // box-shadow: 5px 5px 20px #eeeeee, -5px -5px 20px #ffffff;
    border-radius: 1.75rem;
    transition: 0.25s all ease-out;
    
    
    .modal-content {
        overflow: scroll;
        margin: auto;
        padding: 10px 20px;
        width: 100%;
        height: 100%;
        max-width: 600px;
        text-align: center;
        h3{
            display: block !important;
            // text-align: center;
            font-weight: 700;
            font-size: 1.75rem;

            margin: 0.75rem auto;
            // padding:0 0 2rem 0;
            
            // display: flex;
            // justify-content: center;
            // align-items: center;

            a{
                color: rgba($color: #b8b8b8, $alpha: 1.0);
            }
            a:visited{
                text-decoration: none;
                color: rgba($color: #b8b8b8, $alpha: 1.0);
            }

            a:hover{
                color:#3EAE86;
            }
        }
        .terms{
            // text-align:left;
            padding: 1rem 0 1.5rem 0;
            font-size: 1.45rem;
            line-height: 1.15;
            a, a:visited{
                color: #{$customDarkGray}
            }
            a:hover{
                text-decoration: underline;
            }
        }
        .cancel{    
                font-size: 1.45rem;
                a, a:visited{
                    color: $customDarkGray
                }
                a:hover{
                    text-decoration: underline;
                    color: #000;
                }
            
                padding: 0.25rem 0rem;
            
        }
        button{
            margin-top: 5px;
        }
        h2{
            margin: 15px 0;
        }
        
        .formRow{
            input:last-child, &.checkoutInput select{
            }
            &:last-child{
                margin-left: 10px;
            }

            // modal reviewComment input
            .reviewComment{
                height: 128px;
            }
        }
        .form-row {
            display: flex;    
            width: space-between;

            .formInput {
                width: 100%;
                // background-color: forestgreen;
                &:first-child{
                margin-right: 20px;
                }
                
            }
        }
    }
  }
  
  .rev-modal.active{
    opacity: 1;
    margin-top: 0px;
    z-index: 10;
    transition: 0.55s all ease-out;
  }

  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top:12px;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

