.top-reviews {
  // padding-top: 54px;
  margin-bottom: 30px !important;
  text-align: center;

  @media (max-width: 840px) {
    // margin: auto 16px;
    margin-top: 24px !important;
    padding-top: 12px !important;
    margin-bottom: 24px !important;
  }

  .title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
    @media (max-width: 840px) {
      margin: 0 0 12px 0;
      text-align: center;
      font-size: 21px;
    }

  }

  .marquee {
    overflow: hidden;
    width: 100%;
    position: relative;

    .marquee-content {
      display: flex; 
      .item {
        flex: 0 0 auto;
        width: 300px;
        margin: 8px 12px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.075);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 512px;

        .inner-wrap{
          // background-color: pink;
          .top{
            // background-color: purple;
          }
          .center{
            // background-color: cyan;
            text-align: left;
          }
          .bottom{
            // position: absolute;
            // bottom: 0;
            // background-color: olive;
          }
        }
      }
    }
  }


  .item {
    &:hover{
      // box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.06);;
      transition: all 0.25s ease-out;
    }
    border-radius: 25px;
    
    // background-color: rgb(240, 245, 242);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.075);;
    
    font-size: 16px;

    &.empty {
      background: transparent;
      box-shadow: none;
    }

    .inner-wrap {
      margin: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      height: 100%;
      @media (max-width: 840px) {
        // align-items: start;
      }

      .top {
        
        margin-top: 0px;

        .rating-score {

        }
      }

      .center {
        height: 100%;
        .review-content {
          overflow: hidden;
          text-overflow: ellipsis;
          
          @media (max-width: 840px) {
            white-space: normal;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }

        .material-symbols-outlined {
          transform: rotate(180deg);
          scale: 0.75;
          font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
        }
        
        img {
          vertical-align: middle;
          margin-right: 8px;
        }
      }

      .bottom {
        font-weight: 500;
        font-size: 15px;
        align-self: flex;
        @media (max-width: 840px) {
          // margin-bottom:0px;
          // background-color: blue;
        }
        .user-prof-container{
          .user-name{
            
          }
          .prof-name {         
            font-weight: 700;  
            a {
              color: black;
              text-decoration: underline;
              &:visited {
                color: black;
              }
              &:hover{
                color: rgb(111, 111, 111);
                
              }
            }
          }
        }
      }

      .review {
        background-color: lightgray;
      }
    }
  }

  .skeleton {
    background-color: #e0e0e0;
    animation: skeleton-loading 1.2s ease-in-out infinite;
    border-radius: 15px;
    min-height: 150px;
  }

  .skeleton-bar {
    background-color: #e0e0e0;
    height: 20px;
    margin-bottom: 10px;
    animation: skeleton-loading 1.2s ease-in-out infinite;
    border-radius: 8px;
  }
}


@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0); /* Start at the default position */
  }
  100% {
    transform: translateX(-100%); /* Move the content fully to the left */
  }
}

.skeleton-loader {
  padding: 12px 36px;
  display: flex;
  flex-direction: column;
}

.skeleton-bar {
  background-color: #e0e0e0;
  animation: skeleton-loading 1.2s ease-in-out infinite;
  border-radius: 8px;
}

.item.skeleton .top {
  width: 25%;
  height: 20px;
  // margin-bottom: 8px;
  // background-color: red !important;
}
.item.skeleton .center {
  width: 100%;
  // height: 22px;
  height: calc(100% - 24px) !important;
  @media (max-width:840px) {
    
  }
}

.item.skeleton .bottom {
  overflow: hidden;
  width: 64px;
  // height: 14px;
  height: 24px !important;

  @media (max-width:840px) {
    
  }
  
}

.item.skeleton .center .review-content {
  width: 100%;
  height: 48px;
  // margin-bottom: 8px;
}

.item.skeleton .bottom .user-name,
.item.skeleton .bottom .prof-name {
  // width: 50%;
  // height: 16px;
}

@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}


