/* Footer.scss */

.site-footer {
  background-color: #008938;
  // background-color: rgb(240, 245, 242);
  color: white;
  padding: 30px 0 0 0;
  height: 100%;
  @media (max-width: 840px) {
    padding: 30px 0 0 0;
  }

}

.footer-container {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  height: 412px;
  margin: auto 36px; 

  // @media (max-width: 840px) {
  //   margin-left: 16px; 
  // }
  @media (max-width: 840px) {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: 0;
    margin: auto 16px;
  }
}

.footer-column {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  margin-right: 10px;

  @media (max-width: 840px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    
    &:last-child{
       margin-bottom: 5px;
    }
  }
  .feedback-form{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    margin-top: 7px;
    margin-right: 24px;
    height: 48px;
    width: 100%;
    

    @media(max-width: 840px){
      margin-right: 0px;
      margin-bottom: 16px ;
    }
    .feedback-textarea {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      
      // background-color: red !important;
      overflow-y: hidden;
      text-wrap: nowrap;
      &::placeholder {
        padding-left: 2px;
        // background-color: blue !important;
        color: #ffffff; 
        opacity: 0.6;
      }
      @media(max-width: 840px){
        font-size: 21px;
      }
      outline:none;
      resize: none;
      border: 0px;

      width: 100%;
      height: 32px !important;
      padding: 0px;
      padding-top: 2px;
      // margin-top: 14px;
      margin-bottom: 0;
      // border-bottom: 0.5px solid white;
      
      background-color: #008938;
      color:white;
    
      font-family: Helvetica Neue, Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
      font-size: 2.5rem;
      font-weight: 600;
    }
    
    .submit-button {
      // padding: 4px 6px;
      padding: 4px;
      border-radius: 18px;
      height: 34px;
      width: 34px;
      cursor: pointer;
      // margin-right: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0px !important;
      // background-color: transparent;
      // color:white;
      background-color: #FFC20D;
      color:black;
      // color: #008938;
      
      .arrow-icon{
        height: 34px;
        width: 34px;
        transform: scale(0.75);
      }
    }
    
    .submit-button:hover {
      // background-color: #006f2b;
      // color:white;
      color: #008938;
    }
    
    .success-message {
      color: #008938;
      margin-top: 10px;
      font-size: 14px;
    }
  }


}

.contact-info {
  padding-top: 0;
  padding-bottom: 0px;
  a {
    color: white;
  }
  
  a:visited {
    color: white;
  }
  a:hover {
    color: #FFC20D;
  }
  a:visited:hover {
    color: #FFC20D;
  }
}

.column-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 24px 0 0 0;
  height: 12px;
  color: #FFC20D;
  
  a:visited {
    color: #FFC20D;
  }
}

.quick-links:first-child {
  margin-top: 20px;
}

.quick-links {
  margin: 8px 0;
  
  a {
    color: white;
  }
  
  a:visited {
    color: white;
  }
  
  a:visited:hover {
    color: #FFC20D;
  }
  a:hover {
    color: #FFC20D;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  h2 {
    &:first-child{
      // margin-top: 20px;  
    }
    font-size: 2.5rem;
    margin: 20px 0;
    @media (max-width: 840px) {
      font-size: 21px;
    }
    
    a:visited {
      color: white;
    }
    
    a {
      .yellow-text {
        color: #FFC20D;
      }
    }
    
    a:hover {
      color: a;
    }
  }

  li {
    margin-bottom: 8px;
    font-size: 1.6rem;

    a {
      text-decoration: none;
      font-weight: 500;

      &:hover {
        color: #f8f9fa; /* Change color on hover */
      }

      &:visited {
        color: black; /* Change color on hover */
      }
    }
  }
}

.footer-bottom {
  
  font-size: 14px;
  padding: 10px 36px;
  background-color: white;
  .text-container{
    display: flex;
    color:black;
    .copy-right {
      
    }
    .lbd{
      // margin-right: 0;
      // margin-left: auto;
      
    }
  }
  @media (max-width: 1040px) {
  }
  @media (max-width: 840px) {
    padding: 0.1px 16px;

  }

  .bottom-top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    @media (max-width: 840px) {
      flex-direction: column;
      align-items: center;
      padding: 2px 0px;
    }

    .popout-box {
      
      background-color:#008938;
      color: #FFC20D;
      width: 96px;
      margin-top: 74px;
      // bottom: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 500;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      width: 80px;
      height: 40px;
      border-radius: 10px;
      cursor: pointer;

      @media (max-width: 840px) {
        // margin-bottom: 10px;
        position: absolute;
        left: 16px;
      }
    }

    .popout-box-modal {
      display: flex;
      position: absolute;
      margin-left: 96px;
      
      padding: 8px;
      height: 256px;
      border-radius: 8px;
      
      color: black;
      margin-bottom: 140px; 
    
      transition: all 0.2s ease-out;
      z-index: -1;
    
      box-shadow:none;
      @media (max-width: 840px){
        transform: translateY(-98px);
        left: 24px;
      }
    }

    .popout-box-modal.active {
      opacity: 1;
      color:black;
      background-color: #FFFFFF;
      transition: all 0.2s ease-out;
      
      z-index: 10;
      margin-bottom: 142px;
      box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.25);

      @media (max-width: 840px){
        transform: translateY(-142px);
        left: 24px;
      }
    }

    /* Add styling to make it visible when needed */
    .popout-box:hover {
      transition: 0.05s all ease-in;
      color:#008938;
      background-color: #FFC20D;
    }
  }
}

/* Styles for polySeal */
.polySeal-container {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
  padding: 15px 0px 0px 16px;
  @media (max-width: 840px){
    padding-right: 0 !important;
    
  }

  .polySeal-image {
    filter: saturate(3);
    width: 100px;
    height: 100px;
    background-image: url('../../assets/polySeal.png');
    background-size: cover;
    background-repeat: no-repeat;
    
  }
}


@media (max-width: 840px) {
  .footer-container .footer-column:last-child {
    margin-top: 36px;
    margin-right: 0;;
  }
  .bottom-top-wrap {
    .polySeal-container {
      order: 1; /* Ensure polySeal-container is placed correctly */
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
    }
  }
}