.signup-dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .dropdown-menu{
        .dropdown-item {
            display: flex;
            flex-direction: row !important;
            align-items: center;
            .icon-wrap{
                display: flex;
                justify-content: center;
                align-items: center;
                
                width: 32px;
                height: 32px;
                border-radius: 16px;
                // background-color: rgb(240, 245, 242);
                // padding: 2px;
                img{
                    filter:brightness(0);
                    height: 100%;
                    width: 100%;
                }
                
            }
            a{
                padding-left: 6px;
                font-size: 1.5rem;
                font-weight: 500;
                &, &:visited{
                    color:black;
                }
            }
            
            text-align: left;
            padding: 8px 12px;
            white-space: nowrap;
            transition: all 0.25s ease-out;;
            background-color: white;
            cursor: pointer;
            &:hover{
                transition: all 0.08s ease-out;
                
                background-color: rgb(240, 245, 242);
                .icon-wrap{
                    // background-color:  rgb(220, 225, 222);
                }
            }
        }
    }
}
