.userProfile {
    display: inline-block;
    width: 100%;
    // margin: 3rem auto 1rem;
    padding: 1.25rem 0 0.5rem 0;
    // height: 128px;
    z-index: -3;
        .img {
            
            width: 5.0rem;
            margin: 0 auto;
            position: relative;
            height: 100%;
            img {

                display: inline-block;
                vertical-align: middle;  /* vertical alignment of the inline element */
                height: 64px;
                border-radius: 50%;
            }
        }
        .displayName {
            display: block;
            width: 100%;
            text-align: center;
            margin: 1rem auto;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1;
            text-transform: capitalize;
            
        }
        

} 